.bg-primary{
    background-color: #B7C4CF;
}
.bg-secondary{
    background-color: #0B2447;
}
.width-full{
    width: 100%;
}
.height-full{
    height: 100vh;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.heading-text{
    font-size: 24px;
    font-weight: 600;
}
.text-white{
    color: #fff;
}
.p-5{
    padding: 20px;
}
.rounded-lg{
    border-radius: 10px;
}